@charset "UTF-8";

/*Sempre é bom lembarar de dar um display block*/
/*Parar de usar a configuração de body de vh e vw */
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

/* IMG */
img{
    background-image: url(img/img1_400px.jpg);
    margin: 0px;
    height: 150px;
    padding: 0px;
    width: 100vw;
}

/*Hamburguer*/
#hamburguer{
    text-align: center;
    display: block;
    cursor: pointer;
}

/*Menu*/
menu {
    display: none;
    margin-top: 10px;
}

menu li {
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

menu li:hover{
    background-color: rgb(143, 142, 142);
}

menu a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}