@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#foto{
    background: url(../tela_de_login/login.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    height: 100px;
 

}

#login{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;



    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;

}

